<!-- <nav class="navbar fixed navbar-expand-md navbar-light bg-light">
    <div class="container">
    <ul>
      <li><a routerLink="./Shortner">Shortner</a></li>
      <li>
        <a routerLink="./VisitHistory">Visit History </a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="container">
<!-- Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid"> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="./Shortner">Shortner</a>
        <a class="nav-link" routerLink="./VisitHistory">Visit History</a>
      </div>
    </div>
  </div>
</nav>

    <router-outlet></router-outlet>
</div>
